@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

pre, span, div, p, h1 {
  background-color: transparent;
}

* {
  text-align: center;

  margin: 0px;
  padding: 0px;
  overflow: hidden;

  background-color: black;
  color: white;

  font-family: 'Source Code Pro', monospace;
}

pre {
  /* background: white; */
}

#particles-container canvas {
  width: 100vw !important;
  height: 100vh !important;
}


.emoji {
  height: 62px;
  bottom:50%;
  transform:translateY(30%);
}

#marquee {
  display: inline-block;
  width: 450px;
}

.title {
  font-size: 25px;
}

.center {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.topbar {
  top: 5%;
}

.centerbar {
  
}

.bottombar {
  top: auto;
  bottom: 5%;
}

/* Responsiveness via screen widths */

@media only screen and (max-width: 600px) {
  .title {
    font-size: 24px;
  }
  
  .emoji {
    height: 24px;
  }
  
  #typing {
    font-size: 14px;
  }
  
}

